# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/
*.lock

# Android
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS / Xcode
**/xcuserdata/
**/*.xcuserstate

# iOS (Flutter)
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Flutter/ephemeral/

# Environment
.env
.env.*
